/* using less styling to make multiple examples on the same page easier */
/* nesting tags reduces accidental selector interaction */
.exampleContainer {
  /* example 1 */
  /* example 2 */
  /* example 3*/
}
.exampleContainer.ex1 .select:not(:checked) + .gridContainer {
  display: grid;
  /* default auto flow row layout, rows are automatically created */
  grid-template-columns: 1fr 1fr;
}
.exampleContainer.ex1 .select:checked + .gridContainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 3em 3em 3em;
}
.exampleContainer.ex1 .gridContainer > div {
  background: yellow;
  border: 1px solid black;
}
.exampleContainer.ex2 .gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.exampleContainer.ex2 .gridContainer > div {
  background: yellow;
  border: 1px solid black;
}
.exampleContainer.ex2 .select:checked + .gridContainer {
  grid-template-rows: 2em 3em 1em;
}
.exampleContainer.ex3 .gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2em 3em 2em;
}
.exampleContainer.ex3 .gridContainer > div {
  background: yellow;
  border: 1px solid black;
}
.exampleContainer.ex3 .gridContainer > div:nth-child(3) {
  background: blue;
}
.exampleContainer.ex3 .gridContainer > div.b6 {
  background: red;
}
.exampleContainer.ex3 .select:checked + .gridContainer {
  /* use nth child 
              Position and size
            */
  /* use class 
               Just position
               Notice, manually placed items can overlap!
            */
}
.exampleContainer.ex3 .select:checked + .gridContainer > div:nth-child(3) {
  /* note the e is for less.js, as it will try to do the division without the e */
  /* cell starts at line 2 and ends at line 4( which is the same as spanning column 2 and 3) */
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}
.exampleContainer.ex3 .select:checked + .gridContainer > div.b6 {
  grid-column: 1;
  grid-row: 1;
}
