
.menu{
    display: flex;
    justify-content: space-between;
    background: gray;
    >.item {
       cursor: default;
       user-select: none;
    }
}
.container{
    display: flex;
    position: relative;//setting up to allow layered menu
    >.sidebar {
        display: none; 
    }
    >.sidebar.float{
       display: block;
       position: absolute;
       background: white;
    }
    .sidebar.selected {
        display: block;
    }
}
