<head>
    <title>Text Example</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="ex2.css">
</head>
<body>
    <div class="nav">
        <span class="menuItem"><a>Lorem.</a></span>
        <span class="menuItem"><a>Accusantium!</a></span>
        <span class="menuItem"><a>Est.</a></span>
        <span class="menuItem"><a>Consequuntur.</a></span>
    </div>
    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo voluptates quos blanditiis maiores, nostrum aspernatur inventore autem! Quas illum odio id atque amet quae quasi, neque tempora, nulla nobis, inventore ipsum deleniti saepe voluptatibus consectetur odit qui debitis! Architecto adipisci quasi debitis id veniam deserunt earum cum nobis distinctio iusto.</p>
        <p>Dolores, nihil harum ab ipsa similique voluptas debitis dolore, quaerat commodi sint officia veritatis corporis dignissimos labore vel iste aliquam vero vitae? Sed ad dignissimos maxime repudiandae est id eligendi earum? Impedit cum laborum odit ipsa possimus, nobis, dolore corrupti, sunt nesciunt nisi quos. Deserunt reiciendis tempore porro voluptates eius!</p>
        <p>Sapiente illum voluptates obcaecati tenetur voluptate iure dolores facilis officia tempora adipisci? Eius, animi enim. Minima optio nihil inventore excepturi aspernatur vel soluta cumque facere! Commodi quod aliquam, possimus voluptatibus, repellendus reprehenderit aperiam, officia porro sapiente at laboriosam? Distinctio, vel laborum quos neque doloribus deleniti optio aspernatur dolor aliquam eius.</p>
        <p>Recusandae perspiciatis fugiat accusamus vel tempora nesciunt voluptas error amet quis tenetur architecto iure commodi, aliquam possimus ad voluptate et qui ratione fuga. Ducimus beatae illum quae perferendis fuga in inventore, ipsa numquam doloribus unde velit nemo similique cupiditate quis assumenda ratione veniam necessitatibus iste deleniti deserunt sequi veritatis. Eligendi?</p>
        <p>Reiciendis quas suscipit consequuntur inventore! Numquam delectus iusto qui placeat minima, ipsa doloribus voluptate quasi possimus esse quis accusamus mollitia rerum rem provident. Praesentium facere repellendus, ipsa a temporibus voluptatem modi laboriosam cum, quis, perspiciatis necessitatibus esse dicta eaque quisquam cupiditate. Placeat qui laudantium itaque aperiam molestias. Nisi, laboriosam aut.</p>
        <p>Cum reprehenderit dolore adipisci accusamus enim nostrum corrupti quidem minus ea dignissimos maxime quo, recusandae illo sunt possimus, voluptate laboriosam ut. Suscipit reprehenderit repellendus modi vel quibusdam nesciunt veniam est alias molestiae omnis at inventore in, sapiente ducimus similique accusantium tempore cupiditate praesentium doloremque commodi aspernatur. Sunt praesentium ad temporibus.</p>
    </div>
</body>