
div.dropdown {
    background-color: orange;
    width: 15em;
}

div.dropdown:hover {
    background-color: green;    
}
div.dropdown:hover>div.container {
    display: flex;
    flex-direction: column;    
    visibility: visible;
    position: default;
}
div.container {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
}
div.container .menuItem {

    background-color: gray;
    border: 0.5px solid black;
    color: black;
    width: 15em;
    height: 2em;
    display:flex;
    align-items: center;
    justify-content: center;
}
div.container .menuItem:hover {
    background-color: yellow;
    height : 3em;    
}
/*
div.container .menuItem:hover {
    height: 1.5em;
}*/
div.container .menuItem:hover+div {
    height: 1.5em;
}
div.container .menuItem:hover a:before {
    content: ">";
    
}
div.container .menuItem:hover a:after {
    content: "<";
    
}
div.container .menuItem a,div.container .menuItem a {
    color : black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
div.container .menuItem {
    
        background-color: gray;
        border: 0.5px solid black;
        color: black;
        width: 15em;
    }
