body {
  display: grid;
}
@media (min-width: 600px) {
  body {
    grid-template-columns: 3em repeat(2, 1fr);
    grid-template-rows: 3em 15em 25em;
  }
}
@media (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 2em 18pt;
  }
}
@media (min-width: 600px) {
  body > .heading {
    writing-mode: vertical-rl;
    text-orientation: upright;
    background: linear-gradient(-75deg, white, red);
    font-family: arial;
    font-size: 20pt;
    font-weight: bold;
    color: rgba(78, 8, 115, 0.45);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}
@media (max-width: 600px) {
  body > .heading {
    font-family: arial;
    font-size: 12pt;
    font-weight: bold;
    color: #4e0873;
    background-color: lightblue;
    text-align: center;
  }
}
body > .menuBar {
  display: flex;
  font-family: arial;
  font-size: 15pt;
  font-weight: bold;
  color: #4e0873;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 600px) {
  body > .menuBar {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
body > .menuBar > input {
  border-radius: 2em;
  width: 50%;
  border-color: blanchedalmond;
  background: blanchedalmond;
  border-style: solid;
}
@media (max-width: 600px) {
  body > .menuBar > input {
    display: none;
  }
}
body > .menuBar > .link:hover {
  font-size: 19.5pt;
  color: red;
}
body > .content1 {
  display: grid;
  font-family: cursive;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(5, 1fr);
}
@media (min-width: 600px) {
  body > .content1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
@media (max-width: 600px) {
  body > .content1 {
    grid-template-columns: 1fr;
  }
  body > .content1:hover {
    grid-template-columns: 1fr 2fr;
  }
}
body > .content1 > .body {
  display: none;
  grid-column: 2;
}
body > .content1 > .option {
  grid-column: 1;
}
@media (min-width: 600px) {
  body > .content1 > .option:nth-child(12n + 1) {
    background: linear-gradient(-17.5deg, #990000, white);
  }
  body > .content1 > .option:nth-child(12n + 3) {
    background: linear-gradient(-52.5deg, #cc0000, white);
  }
  body > .content1 > .option:nth-child(12n + 5) {
    background: linear-gradient(-87.5deg, #ff0000, white);
  }
  body > .content1 > .option:nth-child(12n + 7) {
    background: linear-gradient(-122.5deg, #ff3333, white);
  }
  body > .content1 > .option:nth-child(12n + 9) {
    background: linear-gradient(-157.5deg, #ff6666, white);
  }
  body > .content1 > .option:nth-child(12n + 11) {
    background: linear-gradient(-192.5deg, #ff9999, white);
  }
}
@media (max-width: 600px) {
  body > .content1 > .option:nth-child(10n + 1) {
    background: linear-gradient(-17.5deg, #3a9fc0, white);
  }
  body > .content1 > .option:nth-child(10n + 3) {
    background: linear-gradient(-52.5deg, #5fb3ce, white);
  }
  body > .content1 > .option:nth-child(10n + 5) {
    background: linear-gradient(-87.5deg, #86c5da, white);
  }
  body > .content1 > .option:nth-child(10n + 7) {
    background: linear-gradient(-122.5deg, #add8e6, white);
  }
  body > .content1 > .option:nth-child(10n + 9) {
    background: linear-gradient(-157.5deg, #d4ebf2, white);
  }
}
body > .content1 > .option:hover + .body {
  display: block;
  grid-row-start: 1;
  grid-row-end: 5;
}
body .content2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 25em;
}
@media (min-width: 600px) {
  body .content2 {
    overflow-y: scroll;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
body .content2 .heading {
  width: 100%;
  font-family: arial;
  font-size: 15pt;
  font-weight: bold;
  color: #4e0873;
}
body .content2 .summary {
  height: 7em;
  padding: 0.5em;
  overflow-y: hidden;
}
@media (min-width: 600px) {
  body .content2 .summary {
    width: 20em;
  }
}
body .content2 .summary:hover {
  overflow-y: scroll;
}
body .content2 .tittle::before {
  content: "Tittle:";
  font-weight: bold;
}
body .content2 .synopsis::before {
  content: "Synopsis:";
  font-weight: bold;
}
