

.container {
    display: grid;
    grid-template-columns: 15em 40% 1fr;
    &:hover {
        cursor: default;
    }
    user-select: none;
}
h1{
    
    background: lighten(blue, 30%);
}