.page_container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "head    head    head head head head head" "menu    menu    menu menu menu menu menu" "sidebar sidebar body body body body body" "footer  footer  footer footer footer footer footer";
}
.page_container > .footer {
  grid-area: footer;
}
.page_container > .body {
  grid-area: body;
}
.page_container > .sidebar {
  grid-area: sidebar;
}
.page_container > .menu {
  grid-area: menu;
}
.page_container > .head {
  grid-area: head;
}
.page_container .head {
  font-family: Arial, Helvetica, sans-serif;
  height: 1em;
  font-size: 30pt;
  text-align: center;
  background: darkblue;
  color: #ffffff;
}
.page_container .body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-kerning: normal;
  letter-spacing: 0.05em;
  word-spacing: .1em;
  padding-left: 1.5em;
}
.page_container .body > h1:first-of-type {
  text-transform: capitalize;
}
.page_container .body > h1:first-of-type:first-letter {
  border: 2.5px red solid;
}
.page_container .body p:nth-child(4n) {
  background: lightgrey;
}
.page_container .body p:nth-child(4n+2) {
  background: #bababa;
}
.page_container .menu {
  display: flex;
  background: #0000f1;
  color: #ffffff;
  justify-content: space-around;
}
.page_container .menu > div:hover {
  background: #5858ff;
}
.page_container .sidebar {
  background: orange;
}
.page_container .sidebar > div {
  width: 100%;
  text-align: center;
  padding-top: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-kerning: normal;
  letter-spacing: 0.05em;
  word-spacing: .1em;
}
.page_container .footer {
  background: #ffcd70;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-kerning: normal;
  letter-spacing: 0.05em;
  word-spacing: .1em;
  font-size: 6pt;
}
.page_container > .body table tr:nth-child(6n + 0) {
  background: pink;
  color: #000000;
}
.page_container > .body table tr:nth-child(6n + 1) {
  background: #ff8da1;
  color: #ffffff;
}
.page_container > .body table tr:nth-child(6n + 2) {
  background: #ff5a77;
  color: #ffffff;
}
.page_container > .body table tr:nth-child(6n + 3) {
  background: #ff274d;
  color: #ffffff;
}
.page_container > .body table tr:nth-child(6n + 4) {
  background: #f3002a;
  color: #ffffff;
}
.page_container > .body table tr:nth-child(6n + 5) {
  background: #c00022;
  color: #ffffff;
}
